.container {
  margin: 0 auto;
  max-width: 1200px;
}

.blogPost {
  display: grid;
  grid-gap: 2rem;
  width: 100%;
}

.blogPostContent {
  text-align: left;
}

.blogPostHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.blogPostTitle {
  font-size: 4rem;
  font-weight: 400;
}

.blogPostTitle,
.blogPostInfo {
  text-align: left;
  max-width: 800px;
}

.blogPostImg {
  object-fit: cover;
  max-width: 100%;
}

.blogPostBody {
  margin: 0 auto;
  max-width: 800px;
}

.blogPostBody p {
  margin-bottom: 2rem;
}

.blogPostBody p span {
  font-size: 1.2rem !important;
  line-height: 1.6 !important;
}