.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* .blogPost {
  display: grid;
  grid-gap: 2rem;
  width: 100%;
} */

.blogPostContent {
  text-align: left;
}

.blogPostHeader {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  max-width: 800px;
}

.blogPostTitle {
  font-size: 4rem;
  font-weight: 500;
}

.blogPostTitle,
.blogPostInfo {
  margin: auto;
}

.blogPostImg {
  margin-bottom: 3rem;
  object-fit: cover;
  max-width: 100%;
}

.blogPostMain {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
}

.blogPostBody {
  /* margin: 0 auto; */
  max-width: 800px;
}

.blogPostBody h2 {
  line-height: 20px;
  margin: 2rem 0 .5rem;
}

.blogPostBody p {
  margin-bottom: 2rem;
}

.blogPostBody p span {
  font-size: 1.2rem !important;
  line-height: 1.6 !important;
}

.blogPostBody ol,
.blogPostBody ul {
  margin: .5rem 0 .5rem 1.1rem;
}

.sidebar {
  justify-self: center;
  min-width: 300px;
  max-width: 300px;
}

@media (min-width: 768px) {
  .blogPost {
    grid-template-columns: 3fr 1fr;
  }

  .blogPostMain {
    flex-direction: row;
  }
}

@media (max-width: 1250px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}