.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
}

.titleContainer {
  width: 260px;
}

.description {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
  max-width: 500px;
}

.galleryLink {
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
}

.galleryLink::after {
  border-top: 7px solid #c6ac8f;
  content: "";
  position: absolute;
  top: 17px;
  left: -5px;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  width: 175px;
}

.galleryLink:hover {
  opacity: .9;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  max-width: 700px;
}

.formInput {
  border-radius: 5px;
  border: none;
  background-color: #f3f4f6;
  font-family: 'Roboto', sans-serif;
  margin: .5rem 0;
  padding: 1rem 1.2rem;
}

.formInput:focus {
  outline: none;
}

.imageLabel {
  margin-top: .5rem;
}

.smallText {
  font-size: 12px;
}

.fileInput::-webkit-file-upload-button {
  background-color: #d6d3d1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: .5rem .75rem;
}

.formButton {
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.whyBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto 5rem auto;
  width: 100%;
  max-width: 1100px;
}

.textSection,
.imageSection {
  flex: 1;
}

.whyBlockTitle {
  margin-bottom: 2rem;
}

.textSecondary {
  color: #4e4e4e;
}

.whyBlockText {
  margin-bottom: 1.5rem;
}

.whyBlockP {
  font-size: 1.1rem;
  margin-top: .5rem;
}

.imageSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.whyBlockImages {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
}

@media (min-width: 767px) {
  .whyBlock {
    align-items: center;
    flex-direction: row;
  }
}

@media (max-width: 1150px) {
  .whyBlock {
    padding: 0 1rem;
  }
}