* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #222;
  font-family: Roboto, sans-serif;
  height: 100%;
  line-height: 1.5;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title,
.section-subtitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}

.section-subtitle {
  font-size: 1.9rem;
}

.section-title:after,
.section-subtitle:after {
  border-top: 10px solid #c6ac8f;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 1rem;
  margin: 0 auto;
  z-index: -1;
  width: 102%;
}

.section-subtitle:after {
  bottom: -9px;
}

.btn {
  align-self: center;
  border-radius: .25rem;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  padding: 1rem;
  width: 250px;
}

.btn-primary {
  background-color: #C6AC8F;
}

.btn-primary::after {
  display: inline-block;
  padding-left: .5rem;
  content: "\0279E";
  transition: transform 0.1s ease-out;
}

.btn-primary:hover {
  background-color: #D1BDA5;
}

.btn-primary:hover.btn-primary::after {
  transform: translateX(4px);
}

.btn-secondary {
  padding: 0;
}

.btn-secondary::before {
  display: inline-block;
  content: "\2190	";
  padding-right: .25rem;
  transition: transform .3s ease-out;
}

.btn-secondary:hover {
  color: #4E4E4E;
}

.btn-secondary:hover.btn-secondary::before {
  transform: translateX(-4px);
}

.page-section {
  padding: 4rem 0;
}