html,
body {
  padding: 0;
  line-height: 1.5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
}

.section-title:after {
  border-top: 10px solid #c6ac8f;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 1rem;
  margin: 0 auto;
  z-index: -1;
  width: 102%;
}

.btn {
  align-self: center;
  border-radius: .25rem;
  font-size: 1.2rem;
  transition: all .3s ease-in-out;
  padding: 1rem;
  width: 250px;
}

.btn-primary {
  background-color: #C6AC8F;
}

.btn-primary::after {
  display: inline-block;
  padding-left: .5rem;
  content: "\0279E";
  transition: transform 0.1s ease-out;
}

.btn-primary:hover {
  background-color: #D1BDA5;
}

.btn-primary:hover.btn-primary::after {
  transform: translateX(4px);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}