.hero {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, .3)), url(../static/heroBg.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  height: calc(100vh - 75px);
  justify-content: center;
}

.hero span {
  height: 100% !important;
}

.logoContainer {
  width: 80% !important;
}

@media (min-width: 900px) {
  .logoContainer {
    width: 60% !important;
    max-width: 1400px;
  }
}